/* Style pour les messages de succès */
.success {
    background-color: #4CAF50; /* Vert */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}

/* Style pour les messages d'erreur */
.error {
    background-color: #f44336; /* Rouge */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
}
